<h1>Editing service responsible</h1>

<%= render "form", service_responsible: @service_responsible %>

<br>

<div>
  <%= link_to "Show this service responsible", @service_responsible %> |
  <%= link_to "Back to service responsibles", service_responsibles_path %>
</div>
