<p style="color: green"><%= notice %></p>

<h1>Service responsibles</h1>

<div id="service_responsibles">
  <% @service_responsibles.each do |service_responsible| %>
    <%= render service_responsible %>
    <p>
      <%= link_to "Show this service responsible", service_responsible %>
    </p>
  <% end %>
</div>

<%= link_to "New service responsible", new_service_responsible_path %>
