<h1>New daily report equipment usage</h1>

<%= render "form", daily_report_equipment_usage: @daily_report_equipment_usage %>

<br>

<div>
  <%= link_to "Back to daily report equipment usages", daily_report_equipment_usages_path %>
</div>
