<div id="<%= dom_id daily_service_condition %>">
  <p>
    <strong>Daily report:</strong>
    <%= daily_service_condition.daily_report_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= daily_service_condition.condition %>
  </p>

</div>
