<h1>Editing daily service condition</h1>

<%= render "form", daily_service_condition: @daily_service_condition %>

<br>

<div>
  <%= link_to "Show this daily service condition", @daily_service_condition %> |
  <%= link_to "Back to daily service conditions", daily_service_conditions_path %>
</div>
