<h1>Editing service order</h1>

<%= render "form", service_order: @service_order %>

<br>

<div>
  <%= link_to "Show this service order", @service_order %> |
  <%= link_to "Back to service orders", service_orders_path %>
</div>
