<h1>Editing daily report resource allocation</h1>

<%= render "form", daily_report_resource_allocation: @daily_report_resource_allocation %>

<br>

<div>
  <%= link_to "Show this daily report resource allocation", @daily_report_resource_allocation %> |
  <%= link_to "Back to daily report resource allocations", daily_report_resource_allocations_path %>
</div>
